.sceneHomeLogged{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: white;
    flex-direction: column;
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}